<div class='filters'>
  <div class='title'>
    Фильтры
  </div>
  <div class='filters-input'>
    <app-input ></app-input>
  </div>
  <div class='placeholder'>Порт</div>
  <div class='typing'>Выбраны: 2</div>
  <div class='group1'>
    <label class='check-group'>
      <input type='checkbox' class='check'>
      <span>Port Canaveral</span>
    </label>
    <label class='check-group'>
      <input type='checkbox' class='check'>
      <span>Port Canaveral</span>
    </label>
    <label class='check-group'>
      <input type='checkbox' class='check'>
      <span>Port Canaveral</span>
    </label>
  </div>
  <div>
    <div class='type'>Тип</div>
  </div>
  <div>
    <label class='check-group radio-group'>
      <input type='radio' class='radio' [(ngModel)]='radioOptions' value='Barge'>
      <span>Barge</span>
    </label>
    <label class='check-group radio-group'>
      <input type='radio' class='radio' [(ngModel)]='radioOptions' value='Cargo'>
      <span>Cargo</span>
    </label>
    <label class='check-group radio-group'>
      <input type='radio' class='radio' [(ngModel)]='radioOptions' value='High Speed Craft'>
      <span>High Speed Craft</span>
    </label>
  </div>
</div>
